<div class="cart-btn">
  <button type="button" class="btn btn-dark btn-lg">
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> $50.00
  </button>
  <span>3</span>
</div>


<section class="catalog-grid">
    <div class="container">
        <h2 class="dark-color">Menu</h2>
        <div class="row">
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="title">
                    <div class="price-label">10,00 $</div>
                    <div class="product">
                      <a href="#">
                        <img src="http://express-pizza.vn.ua/uploads/a/8/a88fa67b79e9a82a74e07db4814fc857.png" alt="1">
                        <span class="title-overlay"></span>
                      </a>
                    </div>
                    <footer>
                        <a href="#">Pizza "Margherita"</a>
                        <span>salami, pizza dough, tomato sauce, fresh mozzarella, extra-virgin olive oil, basil leaves</span>
                        <button class="btn btn-primary">Add to Cart</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>

