<div class="cart-btn" ng-click='checkCartLength()'>
    <button type="button" class="btn btn-dark btn-lg">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> &#8372;{{totalPrice}}
    </button>
    <span>{{totalItems}}</span>
</div>
<div class="cart-dropdown" ng-show='showMe'>
    <span></span>
    <!--Small rectangle to overlap Cart button-->
    <div class="body">
        <table>
            <tbody>
                <tr class="order" ng-repeat='(title, entry) in cart'>
                    <td>
                        <div class="delete" ng-click='remove(title)'></div><a href="#">{{title}}</a>
                    </td>
                    <td>
                        <span class='glyphicon glyphicon-minus' ng-click='minusItem(title)'></span>
                        <input type="text" value="{{entry.count}}">
                        <span class='glyphicon glyphicon-plus' ng-click='plusItem(title)'></span>
                    </td>

                    <td class="price">{{entry.price*entry.count | as_number}}&#8372;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="group">

        <div class="buttons">
            <a class="btn btn-outlined-invert" ng-click='showMe = false'>Hide</a>
            <a class="btn btn-outlined-invert" ng-click='later()'>Buy</a>
        </div>

        <div class="total">{{totalPrice}}&#8372;</div>
    </div>
</div>
<section class="catalog-grid">
    <div class="container">
        <h2 class="dark-color">Меню</h2>
        <div class="row">
            <div class="item" ng-repeat='pizza in pizzas'>
                <!--Tile-->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="title">
                        <div class="price-label">{{pizza.customPrice | as_number}}</div>
                        <div class="product">
                            <a href="#">
                                <img src="{{pizza.images.small}}" alt="1">
                                <span class="title-overlay"></span>
                            </a>
                        </div>
                        <footer>
                            <a href="#">{{pizza.title}}</a>
                            <span>{{pizza.description}}</span>
                            <button class="btn btn-primary" ng-click='addToCart()'>Замовити</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
